<?xml version="1.0" encoding="utf-8" ?>
<couchbaseConfig>
  <add key="bucketName" value="Q2_IIS_Couchbase_v1" />
  <add key="couchbaseHost" value="https://qacouchbase.ad.moneygram.com;https://qacouchbase1.ad.moneygram.com" />
  <add key="couchbaseUsername" value="AgentWorks" />
  <add key="couchbasePassword" value="AgentWorks" />
</couchbaseConfig>