<?xml version="1.0"?>
<appSettings>

  <!-- Agent Connect -->
  <add key="ClientSoftwareVersion" value="1705" />
  <add key="ApiVersion" value="1705" />
  <add key="PoeType" value="AGENTWORKS" />
  <add key="ChannelType" value="LOCATION" />
  <add key="TargetAudience" value="AGENT_FACING" />

  <!-- Services Environment -->
  <add key="ServicesEnvironment" value="D1"/>
  <!-- AC (D1) -->
  <add key="AgentConnectUrl" value="https://d1ws.qa.moneygram.com/ac2/services/AgentConnect1705"/>
  <!-- Partner Service (D1) -->
  <add key="PartnerServiceUrl" value="http://d1wsintsvcs.qacorp.moneygram.com/partnerService/partner_v1"/>
  <!--Partner Hierarchy settings (D1) -->
  <add key="PartnerHierarchyUrl" value="https://d1coreservices.qacorp.moneygram.com/partnerdata/v1/partnerhierarchy"/>
  <!-- DLS (D1) -->
  <add key="DLSUrl" value="http://d1wsintsvcs.qacorp.moneygram.com/DataLookupService/DataLookupService_v1"/>
  
  <!-- CORS Origins -->
  <add key="CorsOrigins" value="https://d1agentworkscontent.qacorp.moneygram.com"/>
  
  <!--Controls Swagger Web API documentation, set to false to prevent documentation from being exposed -->
  <add key="ApiDocumentation" value="true" />

  <!--IoC configuration for caching. Valid Values: AppFabric, ActiveSpaces, InMemory, NoCache-->
  <add key="CacheTypeEnum" value="AppFabric"/>
  <!-- BEGIN AppFabric -->
  <add key="cacheName" value="DevAgentWorksNxt" />
  <!--cache domains and port. Valid Values: domain:port, domain:port-->
  <add key="AppFabricHosts" value="dmnams1576:22233,dmnams1577:22233"/>
  <!-- DataCacheSecurity Mode Settings, Valid Values None, Transport, Message  -->
  <add key="DataCacheSecurityMode" value="None"/>
  <!-- DataCacheSecurity ProtectionLevel Settings, Valid Values None, Sign, EncryptAndSign  -->
  <add key="DataCacheProtectionLevel" value="None"/>
  <!-- END AppFabric -->
  
  <!-- BEGIN ActiveSpaces -->
  <add key="cacheRemoteDiscovery" value="tcp://d5astibco:40000;d5astibco:40001" />
  <add key="cacheMetaspaceName" value="AS-D5-AgentWorks-MS" />
  <add key="cacheSpaceName" value="ESB_AgentWorksSpace" />
  <!-- END ActiveSpaces -->
  
  <!-- Fake Auth settings -->
  <add key="FakeAuthEnabled" value="false" />
  <add key="FakeAuthAgentsFileName" value="App_Data\fakeAuthAgents.json"/>
  <add key="FakeAuthAgentProfileHardcoded" value="false" />
  <!-- API Key settings -->
  <add key="ApiKeyAuthEnabled" value="false" />
  <add key="apiKeysFileName" value="App_Data\apiKeys.json" />
  <add key="ApiKeyAgentPasswordHardcoded" value="false" />
  <add key="ApiKeyAgentProfileHardcoded" value="false" />
  <!-- OpenAM auth settings -->
  <add key="OpenAmAuthEnabled" value="true" />
  <add key="OpenAmUrl" value="https://devlogin-internal.qa.moneygram.com/" />
  <add key="OpenAmRealm" value="" />
  <!-- OpenAM device auth settings -->
  <add key="OpenAmDeviceAuthEnabled" value="true" />
  <add key="OpenAmDeviceUrl" value="https://devlogindevice.qa.moneygram.com"/>
  <!-- OpenAM unregistered device auth settings -->
  <add key="OpenAmUnregisteredDeviceAuthEnabled" value="true"/>
  <!-- Support Auth settings -->
  <add key="SupportAuthEnabled" value="true" />
  <add key="SupportAuthFileName" value="App_Data\supportKeys.json" />
  
  <!-- OpenIDM  settings -->
  <add key ="OpenIdmUrl" value="https://devidm-internal.qa.moneygram.com/"/>
  
  <!--SSL settings. Valid Values: Tls, Tls11, Tls12-->
  <add key="SecurityProtocolType" value="Tls12" />
  
  <!-- Nlog Filtering -->
  <add key="NlogRegularExpressions" value="ac:mimeData,ac:getAllFieldsResponse,ac:getCountryInfoResponse,ac:getCountrySubdivisionResponse,ac:getCurrencyInfoResponse,ac:profileResponse" />

</appSettings>