<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="logFormat" value="[${longdate}] [AgentWorks.Nxt] [AgentId=${mdc:item=agentid}] [PosNum=${mdc:item=posnum}] [Agent_Time=${mdc:item=agenttimezone}] [IP=${aspnet-request-ip}] [${level}] [UserName=${mdc:item=username}] [UserAgent=${aspnet-request-useragent}] [BrowserLanguage=${mdc:item=browserlanguage}] [Transaction_ID=${mdc:item=transactionId}] [UnitProfile_ID=${mdc:item=unitprofileid}] ${message}"/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" />
    <target name="awapi"
            xsi:type="File"
            fileName="${logDirectory}\AwApi.log"
            layout="${logFormat}"
            archiveAboveSize="24000000"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="awapi" />
  </rules>
</nlog>