<?xml version="1.0"?>
<appSettings>

  <!-- Agent Connect -->
  <add key="ClientSoftwareVersion" value="1705" />
  <add key="ApiVersion" value="1705" />
  <add key="PoeType" value="AGENTWORKS" />
  <add key="ChannelType" value="LOCATION" />
  <add key="TargetAudience" value="AGENT_FACING" />

  <!--AC (Prod)-->
  <add key="AgentConnectUrl" value="https://ws.moneygram.com/wsprod/services/AgentConnect1705"/>
  <!-- Partner Service (Prod) -->
  <add key="PartnerServiceUrl" value="http://wsintsvcs.corp.moneygram.com/partnerService/partner_v1"/>
  <!--Partner Hierarchy settings (Prod) -->
  <add key="PartnerHierarchyUrl" value="https://coreservices.corp.moneygram.com/partnerdata/v1/partnerhierarchy"/>
  <!-- DLS (Prod) -->
  <add key="DLSUrl" value="http://wsintsvcs.corp.moneygram.com/DataLookupService/DataLookupService_v1"/>

  <!-- CORS Origins -->
  <add key="CorsOrigins" value="https://agent.moneygram.com"/>

  <!--Controls Swagger Web API documentation, set to false to prevent documentation from being exposed -->
  <add key="ApiDocumentation" value="false" />

  <!--IoC configuration for caching. Valid Values: AppFabric, ActiveSpaces, InMemory, NoCache, Couchbase-->
  <add key="CacheTypeEnum" value="Couchbase"/>
  <!-- BEGIN AppFabric -->
  <add key="cacheName" value="AgentWorksNxt" />
  <!--cache domains and port. Valid Values: domain:port, domain:port-->
  <add key="AppFabricHosts" value="cache.corp.moneygram.com:22233"/>
  <!-- DataCacheSecurity Mode Settings, Valid Values None, Transport, Message  -->
  <add key="DataCacheSecurityMode" value="None"/>
  <!-- DataCacheSecurity ProtectionLevel Settings, Valid Values None, Sign, EncryptAndSign  -->
  <add key="DataCacheProtectionLevel" value="None"/>
  <!-- END AppFabric -->

  <!-- BEGIN ActiveSpaces -->
  <add key="cacheRemoteDiscovery" value="tcp://awcache.corp.moneygram.com:50010?remote=true" />
  <add key="cacheMetaspaceName" value="AS-AGENTWORKS-NXT-MS" />
  <add key="cacheSpaceName" value="IIS_AgentWorks" />
  <!-- END ActiveSpaces -->

  <!-- Fake Auth settings -->
  <add key="FakeAuthEnabled" value="false" />
  <add key="FakeAuthAgentsFileName" value="App_Data\fakeAuthAgents.json"/>
  <add key="FakeAuthAgentProfileHardcoded" value="false" />
  <!-- API Key settings -->
  <add key="ApiKeyAuthEnabled" value="false" />
  <add key="apiKeysFileName" value="App_Data\apiKeys.json" />
  <add key="ApiKeyAgentPasswordHardcoded" value="false" />
  <add key="ApiKeyAgentProfileHardcoded" value="false" />
  <!-- OpenAM auth settings -->
  <add key="OpenAmAuthEnabled" value="true" />
  <add key="OpenAmUrl" value="https://login-internal.moneygram.com" />
  <add key="OpenAmRealm" value="" />
  <!-- OpenAM device auth settings -->
  <add key="OpenAmDeviceAuthEnabled" value="true" />
  <add key="OpenAmDeviceUrl" value="https://logindevice.moneygram.com"/>
  <!-- OpenAM unregistered device auth settings -->
  <add key="OpenAmUnregisteredDeviceAuthEnabled" value="true"/>
  <!-- Support Auth settings -->
  <add key="SupportAuthEnabled" value="true" />
  <add key="SupportAuthFileName" value="App_Data\supportKeys.json" />
  
  <!-- OpenIDM  settings -->
  <add key ="OpenIdmUrl" value="https://idm-internal.moneygram.com/"/>

  <!--SSL settings. Valid Values: Tls, Tls11, Tls12-->
  <add key="SecurityProtocolType" value="Tls12" />

  <!-- Nlog Filtering -->
  <add key="NlogRegularExpressions" value="ac:mimeData,ac:getAllFieldsResponse,ac:getCountryInfoResponse,ac:getCountrySubdivisionResponse,ac:getCurrencyInfoResponse,ac:profileResponse" />

</appSettings>