<?xml version="1.0" encoding="utf-8" ?>
<couchbaseConfig>
  <add key="bucketName" value="IIS_Couchbase_v1" />
  <add key="couchbaseHost" value="https://couchbase1.ad.moneygram.com;https://couchbase2.ad.moneygram.com;https://couchbase3.ad.moneygram.com" />
  <add key="couchbaseUsername" value="AgentWorks" />
  <add key="couchbasePassword" value="AgentWorks" />
</couchbaseConfig>