<?xml version="1.0" encoding="utf-8" ?>
<couchbaseConfig>
  <add key="bucketName" value="IIS_Couchbase_v1" />
  <add key="couchbaseHost" value="https://q1couchbase4.ad.moneygram.com;https://q1couchbase5.ad.moneygram.com;https://q1couchbase6.ad.moneygram.com" />
  <add key="couchbaseUsername" value="AgentWorks" />
  <add key="couchbasePassword" value="AgentWorks" />
</couchbaseConfig>