<?xml version="1.0"?>
<appSettings>

  <!-- Agent Connect -->
  <add key="ClientSoftwareVersion" value="1705" />
  <add key="ApiVersion" value="1705" />
  <add key="PoeType" value="AGENTWORKS" />
  <add key="ChannelType" value="LOCATION" />
  <add key="TargetAudience" value="AGENT_FACING" />

  <!-- Services Environment -->
  <add key="ServicesEnvironment" value="Q2"/>
  <!-- Agent Connect (Q2) -->
  <add key="AgentConnectUrl" value="https://q2ws.qa.moneygram.com/ac2/services/AgentConnect1705"/>
  <!-- Partner Service (Q2) -->
  <add key="PartnerServiceUrl" value="http://q2wsintsvcs.qacorp.moneygram.com/partnerService/partner_v1"/>
  <!--Partner Hierarchy settings (Q2) -->
  <add key="PartnerHierarchyUrl" value="https://q1coreservices.qacorp.moneygram.com/partnerdata/v1/partnerhierarchy"/>
  <!-- DLS (Q2) -->
  <add key="DLSUrl" value="http://q2wsintsvcs.qacorp.moneygram.com/DataLookupService/DataLookupService_v1"/>

  <!-- CORS Origins -->
  <add key="CorsOrigins" value="*"/>

  <!--Controls Swagger Web API documentation, set to false to prevent documentation from being exposed -->
  <add key="ApiDocumentation" value="false" />
 
  <!--IoC configuration for caching. Valid Values: AppFabric, InMemory, NoCache, Couchbase-->
  <add key="CacheTypeEnum" value="InMemory"/>
  <!-- BEGIN AppFabric -->
  <add key="cacheName" value="QAAWN" />
  <!--cache domains and port. Valid Values: domain:port, domain:port-->
  <add key="AppFabricHosts" value="qmnams1622:22233,qmnams1623:22233"/>
  <!-- DataCacheSecurity Mode Settings, Valid Values None, Transport, Message  -->
  <add key="DataCacheSecurityMode" value="None"/>
  <!-- DataCacheSecurity ProtectionLevel Settings, Valid Values None, Sign, EncryptAndSign  -->
  <add key="DataCacheProtectionLevel" value="None"/>
  <!-- END AppFabric -->
  
  <!-- Fake Auth settings -->
  <add key="FakeAuthEnabled" value="true" />
  <add key="FakeAuthAgentsFileName" value="App_Data\fakeAuthAgents.json"/>
  <add key="FakeAuthAgentProfileHardcoded" value="false" />
  <!-- API Key settings -->
  <add key="ApiKeyAuthEnabled" value="true" />
  <add key="apiKeysFileName" value="App_Data\apiKeys.json" />
  <add key="ApiKeyAgentPasswordHardcoded" value="false" />
  <add key="ApiKeyAgentProfileHardcoded" value="false" />
  <!-- OpenAM auth settings -->
  <add key="OpenAmAuthEnabled" value="false" />
  <add key="OpenAmUrl" value="https://qalogin-internal.qa.moneygram.com" />
  <add key="OpenAmRealm" value="" />
  <!-- OpenAM device auth settings -->
  <add key="OpenAmDeviceAuthEnabled" value="false" />
  <add key="OpenAmDeviceUrl" value="https://qalogindevice.qa.moneygram.com"/>
  <!-- OpenAM unregistered device auth settings -->
  <add key="OpenAmUnregisteredDeviceAuthEnabled" value="false"/>
  <!-- Support Auth settings -->
  <add key="SupportAuthEnabled" value="true" />
  <add key="SupportAuthFileName" value="App_Data\supportKeys.json" />
  
  <!-- OpenIDM  settings -->
  <add key ="OpenIdmUrl" value="https://qaidm-internal.qa.moneygram.com/"/>

  <!--SSL settings. Valid Values: Tls, Tls11, Tls12-->
  <add key="SecurityProtocolType" value="Tls12" />

  <!-- Nlog Filtering -->
  <add key="NlogRegularExpressions" value="ac:mimeData,ac:getAllFieldsResponse,ac:getCountryInfoResponse,ac:getCountrySubdivisionResponse,ac:getCurrencyInfoResponse,ac:profileResponse" />

</appSettings>