<?xml version="1.0" encoding="utf-8" ?>
<couchbaseConfig>
  <add key="bucketName" value="D1_IIS_Couchbase_v1" />
  <add key="couchbaseHost" value="https://devcouchbase.ad.moneygram.com;https://devcouchbase1.ad.moneygram.com" />
  <add key="couchbaseUsername" value="AgentWorks" />
  <add key="couchbasePassword" value="AgentWorks" />
</couchbaseConfig>